.mindmap {
  border: 2px dashed #ccc;
  min-height: 200px;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column; /* 让标题和 tab 在不同的行 */
  gap: 10px;
}

.mindmap h2 {
  text-align: left;  /* 确保文本左对齐 */
  margin-bottom: 10px; /* 添加底部间距 */
  padding-left: 10px; /* 让标题稍微偏移，增加层次感 */
}

.mindmap h3 {
  text-align: left;  /* 确保文本左对齐 */
  margin-bottom: 10px; /* 添加底部间距 */
  padding-left: 10px; /* 让标题稍微偏移，增加层次感 */
  word-wrap: break-word; /* 允许长单词换行 */
  white-space: normal; /* 让文本正常换行 */
  max-width: 60ch; /* 设定最大宽度为 60 个字符 */
}

.mindmap_tabs_container {
  font-size: 1.5em; /* 标题字体大小 */
  display: flex;
  flex-wrap: wrap; /* 让 tabs 换行 */
  gap: 10px;
}

.mindmap_tab {
  flex: 0 0 220px;  /* 每个 tab 固定宽度 220px */
  height: 270px;    /* 固定高度 */

  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.mindmap_tab h3 {
  font-size: 1.5em; /* 标题字体大小 */
  font-weight: bold; /* 加粗标题 */
  margin: 5px 0;            /* 减少上下间距 */
  overflow: hidden;         /* 隐藏超出边框的内容 */
  text-overflow: ellipsis;  /* 超出部分显示省略号 */
  white-space: nowrap;      /* 不换行，超出显示省略号 */
}

.mindmap_tab p {
  font-size: 1.2em; /* 正文字体大小 */
  color: #666; /* 正文字体颜色 */
  margin: 3px 0;            /* 控制正文间距，让内容更紧凑 */
  overflow: hidden;         /* 隐藏超出边框的内容 */
  word-wrap: break-word;  /* 强制长单词换行 */
}