@import 'base.css';

.jp-add-button 
{
    /* basic */
    background-color: black;
    color: white;
    padding: auto;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;

    /* size */
    width: 50px;
    height: 25px;

    /* border */
    border: none;
}
.jp-add-button:hover
{
    background-color: gray;
    color: white;
}

.jp-toolbar
{
    /* size */
    width: 500px;
    max-height: 27px;
}

.jp-center-panel
{
    /* basic */
    color: grey;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* size */
    width: 500px;
    /*height: 600px;*/
    max-height: 600px;
    min-width: 500px;

    /* border */
    border: 1px solid grey;
    border-radius: 2px;
}

.jp-note-container
{
    /* basic */
    color: white;
    overflow: auto;

    /* size */
    width: 500px;
    height: 300px;
    max-height: 300px;
    min-width: 500px;

    /* border */
    border: 1px solid black;
    border-radius: 2px;
}



