body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
p{
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      margin: 10px;
      color: #000000;
      
}

h2{
      text-align: center;
      margin-bottom: 40px;
      font-size: 20px;
      
}

input{
      box-sizing: border-box;
  
      width: 500px;
      height: 40px;
      margin: 10px;
      background: #FFFEFE;
      border: 1px solid #000000;
      border-radius: 5px;
}

.empty-task::placeholder {
  color: red;
}

.leftSidebar{
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
  .rightSidebar {
    margin-left: 85%;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  div.content {
    margin-left: 25%;
    padding: 0;
    height: 100%;
    width: 70%;
  }

  .button{
  
  box-sizing: border-box;
  
  width: 115px;
  height: 40px;
  background: #F6F5F5;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 5px;
  
  }
  .leftSidebar button {
    display: block;
    width: 80%;
    padding: 8px;
    margin: 10px;
    font-size: 1vw;
    overflow: auto;
    border-radius: 5px;
  }

  a.history{
    display:block;
    text-align: center;
    width:100%;
    height:40px;
    outline:0;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
  }

  a.history:hover:not(.active){
    background-color: rgb(164, 164, 164);
    color: white;
  }
  button:hover:not(.active) {
    background-color: rgb(164, 164, 164);
    color: white;
  }
  
 
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
  .taskBox {
    position: relative;
    border: 1px solid black; 
    padding: 10px; 
    width: 80%; 
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    overflow: auto;
  }
  .taskBox .node {
    width: 120px;
    padding: 8px;
    margin: 10px; /* Adjust margin */
    font-size: 1vw;
    border-radius: 5px;
    overflow: auto;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
  .taskBox p {
    position: absolute;
    width:70%
  }

  .archiveButton{
    position: absolute;
    margin-left: 80%;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: url("images/archive.png") no-repeat scroll 0 0 transparent;
  }


  .deleteButton {
    position: absolute;
    margin-left: 90%;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-position: center;
    justify-content: center;
    background: url("images/delete.png") no-repeat scroll 0 0 transparent;
  }

  .nodeContainer{
    position: absolute;
    margin-top: 30px;
    width: 100%;
    height: 80%;
    overflow: auto;
  }

